html,
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ecf0f3;
}
.navbar {
  box-shadow: 0px 2px 3px #292b2ca9;
  background-color: #ecf0f3;
}
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #000;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.icon-bar:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar .nav-link {
  font-size: 18px;
  padding-left: 0.5rem !important;
  padding-right: 10px !important;
}
.navbar .nav-item.active {
  border-left: red 3px solid;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: black;
  font-weight: bolder;
}
i {
  text-transform: uppercase;
  margin-right: 2px;
}
.equal .card,
.equal .counter-box {
  height: 100%;
}
.equal {
  display: flex;
  flex-wrap: wrap;
}
.card {
  background-color: white;
  border-color: #292b2c;
  border-radius: 10px;
  box-shadow: 0px 0px 3px #292b2c;
}
.badge {
  border-radius: 15px;
}
