html,
body {
  font-family: "Open Sans", sans-serif;
  background-color: #ecf0f3;
}
.navbar {
  box-shadow: 0px 2px 3px #292b2ca9;
  background-color: #ecf0f3;
}
.navbar .nav-link {
  font-size: 18px;
  padding-left: 0.5rem !important;
  padding-right: 10px !important;
}
.navbar .nav-item.active {
  border-left: red 3px solid;
}
.navbar-light .navbar-nav .active > .nav-link {
  color: black;
  font-weight: bolder;
}
i {
  text-transform: uppercase;
  margin-right: 2px;
}
.badge {
  font-size: medium;
}
.card1 {
  border-bottom: #0275d8 5px solid;
}
.card2 {
  border-bottom: #d9534f 5px solid;
}
.card3 {
  border-bottom: #5cb85c 5px solid;
}
.card4 {
  border-bottom: #292b2c 5px solid;
}
.head {
  border-radius: 10px;
  background: #ecf0f3;
  box-shadow: 8px 8px 19px #dbdfe2, -8px -8px 19px #fdffff;
}
.scheme {
  color: #292b2c;
}
.abt {
  background-color: white;
  border-color: #292b2c;
  box-shadow: 0px 0px 5px #292b2c;
  border-radius: 10px;
}
.pre {
  background-color: white;
  border-color: #292b2c;
  box-shadow: 0px 0px 10px #292b2c;
  border-radius: 10px;
}
.c1 {
  box-shadow: 1px 1px 8px lightgrey;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #292b2c;
  }
  .c1 {
    box-shadow: 0px 0px 6px whitesmoke;
  }
  .scheme {
    color: white;
  }
  .abt {
    background-color: #292b2c;
    border-color: white;
    box-shadow: 0px 0px 5px whitesmoke;
    border-radius: 10px;
  }
  .pre {
    background-color: #292b2c;
    border-color: white;
    box-shadow: 0px 0px 5px whitesmoke;
    border-radius: 10px;
  }
}
